<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/e3035ac1-c06c-4daf-8939-57b3c5f1f759/resourcegroups/cleanupservice2/providers/Microsoft.Web/sites/BlazorMLNETSentimentAnalysis</ResourceId>
    <ResourceGroup>cleanupservice2</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blazormlnetsentimentanalysis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/e3035ac1-c06c-4daf-8939-57b3c5f1f759/resourceGroups/eshop-global-resgrp/providers/Microsoft.ContainerRegistry/registries/eshopacr</ContainerResourceId>
    <ContainerResourceName>eshopacr</ContainerResourceName>
    <Subscription>PoC Azure Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://eshopacr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>17019651-6789-4593-8885-694c36df3816</ProjectGuid>
  </PropertyGroup>
</Project>